[submodule "Judo-Swift-ApplePay"]
	path = Judo-Swift-ApplePay
	url = https://github.com/JudoPay/Judo-Swift-ApplePay
[submodule "Judo-Security"]
	path = Judo-Security
	url = https://github.com/JudoPay/Judo-Security.git
